<div class="container mx-auto p-6 bg-gray-100 min-h-screen" style="background-color: #f3f4f6; width: 100vw; min-width: 100%;">
  <div class="flex flex-col sm:flex-row justify-between items-center mb-6 space-y-4 sm:space-y-0 sm:space-x-4">
    <div class="flex items-center space-x-3">
      <label for="search" class="text-gray-800 font-semibold">Pesquisar:</label>
      <input
        id="search"
        type="text"
        (input)="onSearchChange($event)"
        placeholder="Nome do Pokémon"
        class="px-4 py-2 w-64 border border-gray-300 rounded-md shadow-md focus:outline-none focus:ring-2 focus:ring-blue-600"
      />
    </div>
    <div class="flex items-center space-x-3">
      <label for="sortOrder" class="text-gray-800 font-semibold">Ordenar por:</label>
      <select
        id="sortOrder"
        (change)="onSortOrderChange($event)"
        class="px-4 py-2 border border-gray-300 rounded-md shadow-md focus:outline-none focus:ring-2 focus:ring-blue-600"
      >
        <option value="asc">A-Z</option>
        <option value="desc">Z-A</option>
      </select>
    </div>
    <div class="flex items-center space-x-3">
      <label for="itemsPerPage" class="text-gray-800 font-semibold">Itens por página:</label>
      <select
        id="itemsPerPage"
        (change)="onItemsPerPageChange($event)"
        class="px-4 py-2 border border-gray-300 rounded-md shadow-md focus:outline-none focus:ring-2 focus:ring-blue-600"
      >
        <option value="5">5</option>
        <option value="10">10</option>
        <option value="20">20</option>
      </select>
    </div>
  </div>

  <div class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-6">
    <app-pokemon-card
      *ngFor="let pokemon of paginatedPokemons"
      [pokemon]="pokemon"
    ></app-pokemon-card>
  </div>

  <div class="flex justify-center mt-6 space-x-4">
    <button
      (click)="previousPage()"
      [disabled]="currentPage === 1"
      class="px-4 py-2 bg-gray-300 rounded-md shadow-md hover:bg-gray-400 disabled:opacity-50 transition-colors"
    >
      Anterior
    </button>
    <span class="text-gray-700 font-medium">Página {{ currentPage }} de {{ totalPages }}</span>
    <button
      (click)="nextPage()"
      [disabled]="currentPage === totalPages"
      class="px-4 py-2 bg-gray-300 rounded-md shadow-md hover:bg-gray-400 disabled:opacity-50 transition-colors"
    >
      Próxima
    </button>
  </div>
</div>