<div class="bg-white p-6 rounded-lg shadow-lg transition-transform transform hover:scale-105 hover:shadow-xl">
  <h2 class="text-xl font-bold text-gray-800 mb-2">{{ capitalizeFirstLetter(pokemon.name) }}</h2>
  <img *ngIf="pokemonImage" [src]="pokemonImage" alt="{{ pokemon.name }}" class="w-32 h-32 mx-auto mb-4">
  <a
    (click)="showDetails()"
    class="text-blue-500 font-medium hover:underline cursor-pointer"
  >
    {{ showDetailsFlag ? 'Ocultar detalhes' : 'Ver detalhes' }}
  </a>
  <div *ngIf="showDetailsFlag && pokemonDetails" class="mt-4">
    <p class="text-gray-700"><strong>Peso:</strong> {{ pokemonDetails.weight / 10}} kg</p>
    <p class="text-gray-700"><strong>Altura:</strong> {{ pokemonDetails.height * 10}} cm</p>
    <p class="text-gray-700"><strong>Tipo:</strong> {{ getPokemonTypes() }}</p>
  </div>
</div>